<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tnp | Resume Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <!-- <form > -->
        <div id="page-1" class="container my-2">
            <h1>Personal Details</h1>
            <div style="border-top:5px solid green"></div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="mb-3">
                            <label for="fname" class="form-label">First Name*</label>
                            <input type="text" class="form-control" name="fname" id="fname">
                        </div> 
                        <div class="mb-3">
                            <label for="contact-no" class="form-label">Contact no*</label>
                            <input type="number" maxlength="10" name="contact-no" class="form-control" id="contact-no">
                        </div>
                        <div class="mb-3">
                            <label for="linkedin" class="form-label">Linkedin profile*</label>
                            <input type="text" class="form-control" name="linkedin" id="linkedin">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="lname" class="form-label">Last Name*</label>
                            <input type="text" class="form-control" id="lname" name="lname" >
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail*</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="github" class="form-label">Github profile link*</label>
                            <input type="text" class="form-control" id="github" name="github">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="career-summary" class="form-label">Career summary</label>
                    <textarea type="textarea" rows="5" class="form-control" id="career-summary"></textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-success px-5" onclick="handleNext(1)">Next</button>
                </div>
        </div>
        <div id="page-2" class="container my-2" style="display: none;">
            <h1>Education</h1>
            <div style="border-top:5px solid green"></div>
                <div class="mt-3">
                    <div class="mb-3">
                        <label for="insname" class="form-label">Name of Institute*</label>
                        <input type="text" class="form-control" id="insname" name="insname" >
                    </div>
                    <div class="mb-3">
                        <label for="tperiod" class="form-label">Time Period*</label>
                        <input type="text" class="form-control" id="tperiod" name="tperiod">
                    </div>
                    <div class="mb-3">
                        <label for="eddetails" class="form-label">Education details</label>
                        <input type="text" class="form-control" id="cname" name="eddetails">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-success px-5 mx-4" onclick="handlePrev(2)">Prev</button>
                    <button class="btn btn-success px-5 mx-4" onclick="handleNext(2)">Next</button>
                </div>
        </div>
        <div class="container my-2" id="page-3" style="display: none;">
            <h1>Achievements</h1>
            <div style="border-top:5px solid green"></div>
                <div class="mt-3">
                    <div class="mb-3">
                        <label for="achieve1" class="form-label">Achievements*</label>
                        <input type="text" class="form-control" id="achieve1" name="achieve1" >
                    </div>
                    <div class="mb-3">
                        <label for="achieve2" class="form-label">Achievements*</label>
                        <input type="text" class="form-control" id="achieve2" name="achieve2" >
                    </div>
                    <div class="mb-3">
                        <label for="achieve3" class="form-label">Achievements*</label>
                        <input type="text" class="form-control" id="achieve3" name="achieve3" >
                    </div>    
                </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-success px-5 mx-4" onclick="handlePrev(3)">Prev</button>
                <button class="btn btn-success px-5 mx-4" onclick="handleNext(3)">Next</button>
            </div>
        </div>
        <div class="container my-2" id="page-4" style="display: none;">
            <h1>Experience</h1>
            <div style="border-top:5px solid green"></div>
                <div class="mt-3">
                    <div class="mb-3">
                        <label for="exp-cname" class="form-label">Name of Company*</label>
                        <input type="text" class="form-control" id="exp-cname" name="exp-cname" >
                    </div>
                    <div class="mb-3">
                        <label for="exp-time-period" class="form-label">Time-Period*</label>
                        <input type="text" class="form-control" id="exp-time-period" name="exp-time-period" >
                    </div>
                    <div class="mb-3">
                        <label for="designation" class="form-label">Designation*</label>
                        <input type="text" class="form-control" id="designation" name="designation">
                    </div>    
                    <div class="mb-3">
                        <label for="exp-loc" class="form-label">Location*</label>
                        <input type="text" class="form-control" id="exp-loc" name="exp-loc">
                    </div>
                    <div class="mb-3">
                        <label for="exp-det-1" class="form-label">Details-1</label>
                        <input type="text" class="form-control" id="exp-det-1" name="exp-det-1" >
                    </div>
                    <div class="mb-3">
                        <label for="exp-det-2" class="form-label">Details-2</label>
                        <input type="text" class="form-control" id="exp-det-2" name="exp-det-2" >
                    </div>
                    <div class="mb-3">
                        <label for="exp-det-3" class="form-label">Details-3</label>
                        <input type="text" class="form-control" id="exp-det-3" name="exp-det-3" >
                    </div>    
                </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-success px-5 mx-4" onclick="handlePrev(4)">Prev</button>
                <button class="btn btn-success px-5 mx-4" onclick="handleNext(4)">Next</button>
            </div>
        </div>
        <div class="container my-2" id="page-5" style="display: none;">
            <h1>Internships</h1>
            <div style="border-top:5px solid green"></div>
                <div class="mt-3">
                    <div class="mb-3">
                        <label for="cname" class="form-label">Name of Company*</label>
                        <input type="text" class="form-control" id="cname" name="cname" >
                    </div>
                    <div class="mb-3">
                        <label for="time-period" class="form-label">Time-Period*</label>
                        <input type="text" class="form-control" id="time-period" name="time-period" >
                    </div>
                    <div class="mb-3">
                        <label for="interm-role" class="form-label">Role*</label>
                        <input type="text" class="form-control" id="interm-role" name="interm-role">
                    </div>    
                    <div class="mb-3">
                        <label for="role" class="form-label">Location*</label>
                        <input type="text" class="form-control" id="role" name="role">
                    </div>
                    <div class="mb-3">
                        <label for="intern-det-1" class="form-label">Details-1</label>
                        <input type="text" class="form-control" id="intern-det-1" name="intern-det-1" >
                    </div>
                    <div class="mb-3">
                        <label for="intern-det-2" class="form-label">Details-2</label>
                        <input type="text" class="form-control" id="intern-det-2" name="intern-det-2" >
                    </div>
                    <div class="mb-3">
                        <label for="intern-det-3" class="form-label">Details-3</label>
                        <input type="text" class="form-control" id="intern-det-3" name="intern-det-3" >
                    </div>  
                </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-success px-5 mx-4" onclick="handlePrev(5)">Prev</button>
                <button class="btn btn-success px-5 mx-4" onclick="handleNext(5)">Next</button>
            </div>
        </div>
        <div class="container my-2" id="page-6" style="display: none;">
            <h1>Hackathons Won</h1>
            <div style="border-top:5px solid green"></div>
                <div class="mt-3">
                    <div class="mb-3">
                        <label for="hack-name" class="form-label">Hackathon Name*</label>
                        <input type="text" class="form-control" id="hack-name" name="hack-name" >
                    </div>
                    <div class="mb-3">
                        <label for="hack-time-period" class="form-label">Year of Hackathon*</label>
                        <input type="text" class="form-control" id="hack-time-period" name="hack-time-period" >
                    </div>
                    <div class="mb-3">
                        <label for="hack-det-1" class="form-label">Details-1</label>
                        <input type="text" class="form-control" id="hack-det-1" name="hack-det-1" >
                    </div>
                    <div class="mb-3">
                        <label for="hack-det-2" class="form-label">Details-2</label>
                        <input type="text" class="form-control" id="hack-det-2" name="hack-det-2" >
                    </div>
                </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-success px-5 mx-4" onclick="handlePrev(6)">Prev</button>
                <button class="btn btn-success px-5 mx-4" onclick="handleNext(6)">Next</button>
            </div>
        </div>
        <div class="container my-2" id="page-7" style="display: none;">
            <h1>Notable Github Projects</h1>
            <div style="border-top:5px solid green"></div>
                <div class="mt-3">
                    <div class="mb-3">
                        <label for="git-proj-name" class="form-label">Project Name*</label>
                        <input type="text" class="form-control" id="git-proj-name" name="git-proj-name" >
                    </div>
                    <div class="mb-3">
                        <label for="git-proj-det-1" class="form-label">Details-1</label>
                        <input type="text" class="form-control" id="git-proj-det-1" name="git-proj-det-1" >
                    </div>
                    <div class="mb-3">
                        <label for="git-proj-det-2" class="form-label">Details-2</label>
                        <input type="text" class="form-control" id="git-proj-det-2" name="git-proj-det-2" >
                    </div>
                </div>
        <form method="post" onsubmit="HandleSubmit()" action="{% url 'index' %}">
            ({% csrf_token %})
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-success px-5 mx-4" onclick="handlePrev(7)">Prev</button>
                <button class="btn btn-success px-5 mx-4" onclick="handleNext(7)">Submit</button>
            </div>
        </form>
        </div>  

    <!-- </form> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <script >
        function handleNext(currentPage) {
            var nextStep = currentPage + 1;
            var currentPageElement = document.getElementById('page-' + currentPage);
            var nextPageElement = document.getElementById('page-' + nextStep);
      
            if (currentPageElement && nextPageElement) {
              currentPageElement.style.display = 'none';
              nextPageElement.style.display = 'block';
            }
          }
      
          function handlePrev(currentPage) {
            var prevStep = currentPage - 1;
            var currentPageElement = document.getElementById('page-' + currentPage);
            var prevPageElement = document.getElementById('page-' + prevStep);
      
            if (currentPageElement && prevPageElement) {
              currentPageElement.style.display = 'none';
              prevPageElement.style.display = 'block';
            }
          }

          const HandleSubmit = () => {
                
          }
    </script>
  </body>
</html>