<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tnp | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand mx-4" href="/">TnPplatform</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <div id="page-1" class="container my-2">
            <h1>Personal Details</h1>
            <div style="border-top:5px solid green"></div>
            <div class="row mt-3">
                <div class="col">
                    <div class="mb-3">
                        <label for="fname" class="form-label">First Name*</label>
                        <input type="text" class="form-control" name="fname" id="fname" required>
                    </div>
                    <div class="mb-3">
                        <label for="contact-no" class="form-label">Contact no*</label>
                        <input type="number" maxlength="10" name="contact-no" class="form-control" id="contact-no" required>
                    </div>
                    <div class="mb-3">
                        <label for="linkedin" class="form-label">Linkedin profile*</label>
                        <input type="text" class="form-control" name="linkedin" id="linkedin" required>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="lname" class="form-label">Last Name*</label>
                        <input type="text" class="form-control" id="lname" name="lname" required>
                    </div>
                    <div class="mb-3">
                        <label for="e-mail" class="form-label">E-mail*</label>
                        <input type="email" class="form-control" id="e-mail" name="e-mail" required>
                    </div>
                    <div class="mb-3">
                        <label for="github" class="form-label">Github profile link*</label>
                        <input type="text" class="form-control" id="github" name="github" required>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="career-summary" class="form-label">Career summary</label>
                <textarea type="textarea" rows="5" class="form-control" id="career-summary"
                    name="career-summary"></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <div class="btn btn-success px-5" onclick="handleNext(1)">Next</div>
            </div>
        </div>
        <div id="page-2" class="container my-2" style="display: none;">
            <h1>Education</h1>
            <div style="border-top:5px solid green"></div>
            <div class="mt-3">
                <div class="mb-3">
                    <label for="insname" class="form-label">Name of Institute*</label>
                    <input type="text" class="form-control" id="insname" name="insname">
                </div>
                <div class="mb-3">
                    <label for="tperiod" class="form-label">Time Period*</label>
                    <input type="text" class="form-control" id="tperiod" name="tperiod">
                </div>
                <div class="mb-3">
                    <label for="eddetails" class="form-label">Education details</label>
                    <input type="text" class="form-control" id="eddetails" name="eddetails">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="btn btn-outline-success px-5 mx-4" onclick="handlePrev(2)">Prev</div>
                <div class="btn btn-success px-5 mx-4" onclick="handleNext(2)">Next</div>
            </div>
        </div>
        <div class="container my-2" id="page-3" style="display: none;">
            <h1>Achievements</h1>
            <div style="border-top:5px solid green"></div>
            <div class="mt-3">
                <div class="mb-3">
                    <label for="achieve1" class="form-label">Achievements*</label>
                    <input type="text" class="form-control" id="achieve1" name="achieve1" maxlength="125">
                </div>
                <div class="mb-3">
                    <label for="achieve2" class="form-label">Achievements*</label>
                    <input type="text" class="form-control" id="achieve2" name="achieve2" maxlength="125">
                </div>
                <div class="mb-3">
                    <label for="achieve3" class="form-label">Achievements*</label>
                    <input type="text" class="form-control" id="achieve3" name="achieve3" maxlength="125">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="btn btn-outline-success px-5 mx-4" onclick="handlePrev(3)">Prev</div>
                <div class="btn btn-success px-5 mx-4" onclick="handleNext(3)">Next</div>
            </div>
        </div>

        <!-- Experience -->
        <div class="container my-2" id="page-4" style="display: none;">
            <h1>Experience</h1>
            <div style="border-top:5px solid green"></div>

            <!-- Experience accordion -->
            <div class="accordion" id="experienceAccordion">
                <!-- Initial experience item -->
                <div class="accordion-item" id="experienceItem1">
                    <h2 class="accordion-header" id="experienceHeading1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#experienceCollapse1" aria-expanded="true"
                            aria-controls="experienceCollapse1">
                            Experience 1
                        </button>
                    </h2>
                    <div id="experienceCollapse1" class="accordion-collapse collapse show"
                        aria-labelledby="experienceHeading1" data-bs-parent="#experienceAccordion">
                        <div class="accordion-body">
                            <div class="mb-3">
                                <label for="exp-1-cname" class="form-label">Name of Company*</label>
                                <input type="text" class="form-control" id="exp-1-cname" name="exp-1-cname" maxlength="66">
                            </div>
                            <div class="mb-3">
                                <label for="exp-1-time-period" class="form-label">Time-Period*</label>
                                <input type="text" class="form-control" id="exp-1-time-period" name="exp-1-time-period" placeholder="year - year" maxlength="20">
                            </div>
                            <div class="mb-3">
                                <label for="exp-1-designation" class="form-label">Designation*</label>
                                <input type="text" class="form-control" id="exp-1-designation" name="exp-1-designation" maxlength="66">
                            </div>
                            <div class="mb-3">
                                <label for="exp-1-location" class="form-label">Location*</label>
                                <input type="text" class="form-control" id="exp-1-location" name="exp-1-location" maxlength="66">
                            </div>
                            <div class="mb-3">
                                <label for="exp-1-det-1" class="form-label">details-1</label>
                                <input type="text" class="form-control" id="exp-1-det-1" name="exp-1-det-1">
                            </div>
                            <div class="mb-3">
                                <label for="exp-1-det-2" class="form-label">details-2</label>
                                <input type="text" class="form-control" id="exp-1-det-2" name="exp-1-det-2">
                            </div>
                            <div class="mb-3">
                                <label for="exp-1-det-3" class="form-label">details-3</label>
                                <input type="text" class="form-control" id="exp-1-det-3" name="exp-1-det-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div type="button" class="btn btn-outline-primary my-3" onclick="addExperience()">Add More
                Experiences</div>
            <div class="d-flex justify-content-center">
                <div class="btn btn-outline-success px-5 mx-4" onclick="handlePrev(4)">Prev</div>
                <div class="btn btn-success px-5 mx-4" onclick="handleNext(4)">Next</div>
            </div>
        </div>

        <div class="container my-2" id="page-5" style="display: none;">
            <h1>Internships</h1>
            <div style="border-top:5px solid green"></div>

            <div class="accordion" id="accordionInternships">
                <!-- Initial Internship item -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="internshipHeading1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#internshipCollapse1" aria-expanded="true"
                            aria-controls="internshipCollapse1">
                            Internship 1
                        </button>
                    </h2>
                    <div id="internshipCollapse1" class="accordion-collapse collapse show"
                        aria-labelledby="internshipHeading1" data-bs-parent="#accordionInternships">
                        <div class="accordion-body">
                            <!-- Your Internship form fields go here -->
                            <div class="mb-3">
                                <label for="intern-1-cname" class="form-label">Name of Company*</label>
                                <input type="text" class="form-control" id="intern-1-cname" name="intern-1-cname" maxlength="66">
                            </div>
                            <div class="mb-3">
                                <label for="intern-1-time-period" class="form-label">Time-Period*</label>
                                <input type="text" class="form-control" id="intern-1-time-period"
                                    name="intern-1-time-period" placeholder="year - year" maxlength="20">
                            </div>
                            <div class="mb-3">
                                <label for="intern-1-role" class="form-label">Role*</label>
                                <input type="text" class="form-control" id="intern-1-role" name="intern-1-role" maxlength="66">
                            </div>
                            <div class="mb-3">
                                <label for="intern-1-location" class="form-label">Location*</label>
                                <input type="text" class="form-control" id="intern-1-location" name="intern-1-location" maxlength="66">
                            </div>
                            <div class="mb-3">
                                <label for="intern-1-det-1" class="form-label">Details-1</label>
                                <input type="text" class="form-control" id="intern-1-det-1" name="intern-1-det-1">
                            </div>
                            <div class="mb-3">
                                <label for="intern-1-det-2" class="form-label">Details-2</label>
                                <input type="text" class="form-control" id="intern-1-det-2" name="intern-1-det-2">
                            </div>
                            <div class="mb-3">
                                <label for="intern-1-det-3" class="form-label">Details-3</label>
                                <input type="text" class="form-control" id="intern-1-det-3" name="intern-1-det-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button to add more Internships -->
            <div type="button" class="btn btn-outline-primary mb-3" onclick="addInternship()">Add More Internships</div>

            <!-- Buttons to handle next and previous for Internships -->
            <div class="d-flex justify-content-center">
                <div class="btn btn-outline-success px-5 mx-4" onclick="handlePrev(5)">Prev</div>
                <div class="btn btn-success px-5 mx-4" onclick="handleNext(5)">Next</div>
            </div>
        </div>

        <div class="container my-2" id="page-6" style="display: none;">
            <h1>Hackathons Won</h1>
            <div style="border-top:5px solid green"></div>

            <!-- Hackathon Accordion -->
            <div class="accordion" id="accordionHackathons">
                <!-- Initial Hackathon item -->
                <div class="accordion-item" id="hackathonItem1">
                    <h2 class="accordion-header" id="hackathonHeading1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#hackathonCollapse1" aria-expanded="true"
                            aria-controls="hackathonCollapse1">
                            Hackathon 1
                        </button>
                    </h2>
                    <div id="hackathonCollapse1" class="accordion-collapse collapse show"
                        aria-labelledby="hackathonHeading1" data-bs-parent="#accordionHackathons">
                        <div class="accordion-body">
                            <div class="mb-3">
                                <label for="hack-1-name" class="form-label">Hackathon Name*</label>
                                <input type="text" class="form-control" id="hack-1-name" name="hack-1-name" maxlength="66">
                            </div>
                            <div class="mb-3">
                                <label for="hack-1-time-period" class="form-label">Year of Hackathon*</label>
                                <input type="text" class="form-control" id="hack-1-time-period"
                                    name="hack-1-time-period" placeholder="year" maxlength="20">
                            </div>
                            <div class="mb-3">
                                <label for="hack-1-det-1" class="form-label">Details-1</label>
                                <input type="text" class="form-control" id="hack-1-det-1" name="hack-1-det-1">
                            </div>
                            <div class="mb-3">
                                <label for="hack-1-det-2" class="form-label">Details-2</label>
                                <input type="text" class="form-control" id="hack-1-det-2" name="hack-1-det-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button to add more Hackathons -->
            <div type="button" class="btn btn-outline-primary mb-3" onclick="addHackathon()">Add More Hackathons</div>

            <!-- Buttons to handle next and previous for Hackathons -->
            <div class="d-flex justify-content-center">
                <div class="btn btn-outline-success px-5 mx-4" onclick="handlePrev(6)">Prev</div>
                <div class="btn btn-success px-5 mx-4" onclick="handleNext(6)">Next</div>
            </div>
        </div>

        <div class="container my-2" id="page-7" style="display: none;">
            <h1>Notable Github Projects</h1>
            <div style="border-top:5px solid green"></div>

            <!-- Github Projects Accordion -->
            <div class="accordion" id="accordionGithubProjects">
                <!-- Initial Github Project item -->
                <div class="accordion-item" id="githubProjectItem1">
                    <h2 class="accordion-header" id="githubProjectHeading1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#githubProjectCollapse1" aria-expanded="true"
                            aria-controls="githubProjectCollapse1">
                            Project 1
                        </button>
                    </h2>
                    <div id="githubProjectCollapse1" class="accordion-collapse collapse show"
                        aria-labelledby="githubProjectHeading1" data-bs-parent="#accordionGithubProjects">
                        <div class="accordion-body">
                            <div class="mb-3">
                                <label for="git-proj-1-name" class="form-label">Project Name*</label>
                                <input type="text" class="form-control" id="git-proj-1-name" name="git-proj-1-name" maxlength="66">
                            </div>
                            <div class="mb-3">
                                <label for="git-proj-1-det-1" class="form-label">Details-1</label>
                                <input type="text" class="form-control" id="git-proj-1-det-1" name="git-proj-1-det-1">
                            </div>
                            <div class="mb-3">
                                <label for="git-proj-1-det-2" class="form-label">Details-2</label>
                                <input type="text" class="form-control" id="git-proj-1-det-2" name="git-proj-1-det-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button to add more Github Projects -->
            <div type="button" class="btn btn-outline-primary mb-3" onclick="addGithubProject()">Add More Projects</div>

            <!-- Buttons to handle next and previous for Github Projects -->
            <div class="d-flex justify-content-center">
                <div class="btn btn-outline-success px-5 mx-4" onclick="handlePrev(7)">Prev</div>
                <div class="btn btn-success px-5 mx-4" onclick="HandleSubmit()">Submit</div>
            </div>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <script>
        function handleNext(currentPage) {
            var nextStep = currentPage + 1;
            var currentPageElement = document.getElementById('page-' + currentPage);
            var nextPageElement = document.getElementById('page-' + nextStep);

            if (currentPageElement && nextPageElement) {
                currentPageElement.style.display = 'none';
                nextPageElement.style.display = 'block';
            }
        }

        function handlePrev(currentPage) {
            var prevStep = currentPage - 1;
            var currentPageElement = document.getElementById('page-' + currentPage);
            var prevPageElement = document.getElementById('page-' + prevStep);

            if (currentPageElement && prevPageElement) {
                currentPageElement.style.display = 'none';
                prevPageElement.style.display = 'block';
            }
        }

        var experienceCount = 1;
        var internshipCount = 1;
        var hackathonCount = 1;
        var githubProjectCount = 1;


        function addExperience() {
            experienceCount++; // Increment the counter

            // Create a new accordion item
            var newExperienceItem = document.createElement('div');
            newExperienceItem.className = 'accordion-item';
            newExperienceItem.id = 'experienceItem' + experienceCount;

            // Create the accordion header
            var accordionHeader = document.createElement('h2');
            accordionHeader.className = 'accordion-header';
            accordionHeader.id = 'experienceHeading' + experienceCount;

            var accordionButton = document.createElement('button');
            accordionButton.className = 'accordion-button';
            accordionButton.type = 'button';
            accordionButton.setAttribute('data-bs-toggle', 'collapse');
            accordionButton.setAttribute('data-bs-target', '#experienceCollapse' + experienceCount);
            accordionButton.setAttribute('aria-expanded', 'true');
            accordionButton.setAttribute('aria-controls', 'experienceCollapse' + experienceCount);
            accordionButton.innerText = 'Experience ' + experienceCount;

            // Create the accordion collapse content
            var accordionCollapse = document.createElement('div');
            accordionCollapse.id = 'experienceCollapse' + experienceCount;
            accordionCollapse.className = 'accordion-collapse collapse';
            accordionCollapse.setAttribute('aria-labelledby', 'experienceHeading' + experienceCount);
            accordionCollapse.setAttribute('data-bs-parent', '#experienceAccordion');

            var accordionBody = document.createElement('div');
            accordionBody.className = 'accordion-body';

            // Add input fields to the accordion body
            accordionBody.innerHTML = `
            <div class="mb-3">
                <label for="exp-${experienceCount}-cname" class="form-label">Name of Company*</label>
                <input type="text" class="form-control" id="exp-${experienceCount}-cname" name="exp-${experienceCount}-cname">
            </div>
            <div class="mb-3">
                <label for="exp-${experienceCount}-time-period" class="form-label">Time-Period*</label>
                <input type="text" class="form-control" id="exp-${experienceCount}-time-period" name="exp-${experienceCount}-time-period">
            </div>
            <div class="mb-3">
                <label for="exp-${experienceCount}-designation" class="form-label">Designation*</label>
                <input type="text" class="form-control" id="exp-${experienceCount}-designation" name="exp-${experienceCount}-designation">
            </div>
            <div class="mb-3">
                <label for="exp-${experienceCount}-location" class="form-label">Location*</label>
                <input type="text" class="form-control" id="exp-${experienceCount}-location" name="exp-${experienceCount}-location">
            </div>
            <div class="mb-3">
                <label for="exp-${experienceCount}-det-1" class="form-label">details-1*</label>
                <input type="text" class="form-control" id="exp-${experienceCount}-det-1" name="exp-${experienceCount}-det-1">
            </div>
            <div class="mb-3">
                <label for="exp-${experienceCount}-det-2" class="form-label">details-2*</label>
                <input type="text" class="form-control" id="exp-${experienceCount}-det-2" name="exp-${experienceCount}-det-2">
            </div>
            <div class="mb-3">
                <label for="exp-${experienceCount}-det-3" class="form-label">details-3*</label>
                <input type="text" class="form-control" id="exp-${experienceCount}-det-3" name="exp-${experienceCount}-det-3">
            </div>
        `;

            // Append elements to create the accordion item
            accordionHeader.appendChild(accordionButton);
            newExperienceItem.appendChild(accordionHeader);
            accordionCollapse.appendChild(accordionBody);
            newExperienceItem.appendChild(accordionCollapse);

            // Append the new accordion item to the experience accordion
            var experienceAccordion = document.getElementById('experienceAccordion');
            experienceAccordion.appendChild(newExperienceItem);
        }

        function addInternship() {
            internshipCount++; // Increment the counter

            // Create a new accordion item
            var newInternshipItem = document.createElement('div');
            newInternshipItem.className = 'accordion-item';
            newInternshipItem.id = 'internshipItem' + internshipCount;

            // Create the accordion header
            var accordionHeader = document.createElement('h2');
            accordionHeader.className = 'accordion-header';
            accordionHeader.id = 'internshipHeading' + internshipCount;

            var accordionButton = document.createElement('button');
            accordionButton.className = 'accordion-button';
            accordionButton.type = 'button';
            accordionButton.setAttribute('data-bs-toggle', 'collapse');
            accordionButton.setAttribute('data-bs-target', '#internshipCollapse' + internshipCount);
            accordionButton.setAttribute('aria-expanded', 'true');
            accordionButton.setAttribute('aria-controls', 'internshipCollapse' + internshipCount);
            accordionButton.innerText = 'Internship ' + internshipCount;

            // Create the accordion collapse content
            var accordionCollapse = document.createElement('div');
            accordionCollapse.id = 'internshipCollapse' + internshipCount;
            accordionCollapse.className = 'accordion-collapse collapse';
            accordionCollapse.setAttribute('aria-labelledby', 'internshipHeading' + internshipCount);
            accordionCollapse.setAttribute('data-bs-parent', '#accordionInternships');

            var accordionBody = document.createElement('div');
            accordionBody.className = 'accordion-body';

            // Add input fields to the accordion body
            accordionBody.innerHTML = `
            <div class="mb-3">
                <label for="intern-${internshipCount}-cname" class="form-label">Name of Company*</label>
                <input type="text" class="form-control" id="intern-${internshipCount}-cname" name="intern-${internshipCount}-cname">
            </div>
            <div class="mb-3">
                <label for="intern-${internshipCount}-time-period" class="form-label">Time-Period*</label>
                <input type="text" class="form-control" id="intern-${internshipCount}-time-period" name="intern-${internshipCount}-time-period">
            </div>
            <div class="mb-3">
                <label for="intern-${internshipCount}-role" class="form-label">Role*</label>
                <input type="text" class="form-control" id="intern-${internshipCount}-role" name="intern-${internshipCount}-role">
            </div>
            <div class="mb-3">
                <label for="intern-${internshipCount}-location" class="form-label">Location*</label>
                <input type="text" class="form-control" id="intern-${internshipCount}-location" name="intern-${internshipCount}-location">
            </div>
            <div class="mb-3">
                <label for="intern-${internshipCount}-det-1" class="form-label">details-1*</label>
                <input type="text" class="form-control" id="intern-${internshipCount}-det-1" name="intern-${internshipCount}-det-1">
            </div>
            <div class="mb-3">
                <label for="intern-${internshipCount}-det-2" class="form-label">details-2*</label>
                <input type="text" class="form-control" id="intern-${internshipCount}-det-2" name="intern-${internshipCount}-det-2">
            </div>
            <div class="mb-3">
                <label for="intern-${internshipCount}-det-3" class="form-label">details-3*</label>
                <input type="text" class="form-control" id="intern-${internshipCount}-det-3" name="intern-${internshipCount}-det-3">
            </div>
        `;

            // Append elements to create the accordion item
            accordionHeader.appendChild(accordionButton);
            newInternshipItem.appendChild(accordionHeader);
            accordionCollapse.appendChild(accordionBody);
            newInternshipItem.appendChild(accordionCollapse);

            // Append the new accordion item to the internship accordion
            var internshipAccordion = document.getElementById('accordionInternships');
            internshipAccordion.appendChild(newInternshipItem);
        }

        function addHackathon() {
            hackathonCount++; // Increment the counter

            // Create a new accordion item
            var newHackathonItem = document.createElement('div');
            newHackathonItem.className = 'accordion-item';
            newHackathonItem.id = 'hackathonItem' + hackathonCount;

            // Create the accordion header
            var accordionHeader = document.createElement('h2');
            accordionHeader.className = 'accordion-header';
            accordionHeader.id = 'hackathonHeading' + hackathonCount;

            var accordionButton = document.createElement('button');
            accordionButton.className = 'accordion-button';
            accordionButton.type = 'button';
            accordionButton.setAttribute('data-bs-toggle', 'collapse');
            accordionButton.setAttribute('data-bs-target', '#hackathonCollapse' + hackathonCount);
            accordionButton.setAttribute('aria-expanded', 'true');
            accordionButton.setAttribute('aria-controls', 'hackathonCollapse' + hackathonCount);
            accordionButton.innerText = 'Hackathon ' + hackathonCount;

            // Create the accordion collapse content
            var accordionCollapse = document.createElement('div');
            accordionCollapse.id = 'hackathonCollapse' + hackathonCount;
            accordionCollapse.className = 'accordion-collapse collapse';
            accordionCollapse.setAttribute('aria-labelledby', 'hackathonHeading' + hackathonCount);
            accordionCollapse.setAttribute('data-bs-parent', '#accordionHackathons');

            var accordionBody = document.createElement('div');
            accordionBody.className = 'accordion-body';

            // Add input fields to the accordion body
            accordionBody.innerHTML = `
            <div class="mb-3">
                <label for="hack-${hackathonCount}-name" class="form-label">Hackathon Name*</label>
                <input type="text" class="form-control" id="hack-${hackathonCount}-name" name="hack-${hackathonCount}-name">
            </div>
            <div class="mb-3">
                <label for="hack-${hackathonCount}-time-period" class="form-label">Year of Hackathon*</label>
                <input type="text" class="form-control" id="hack-${hackathonCount}-time-period" name="hack-${hackathonCount}-time-period">
            </div>
            <div class="mb-3">
                <label for="hack-${hackathonCount}-det-1" class="form-label">Details-1</label>
                <input type="text" class="form-control" id="hack-${hackathonCount}-det-1" name="hack-${hackathonCount}-det-1">
            </div>
            <div class="mb-3">
                <label for="hack-${hackathonCount}-det-2" class="form-label">Details-2</label>
                <input type="text" class="form-control" id="hack-${hackathonCount}-det-2" name="hack-${hackathonCount}-det-2">
            </div>
        `;

            // Append elements to create the accordion item
            accordionHeader.appendChild(accordionButton);
            newHackathonItem.appendChild(accordionHeader);
            accordionCollapse.appendChild(accordionBody);
            newHackathonItem.appendChild(accordionCollapse);

            // Append the new accordion item to the Hackathon accordion
            var hackathonAccordion = document.getElementById('accordionHackathons');
            hackathonAccordion.appendChild(newHackathonItem);
        }

        function addGithubProject() {
            githubProjectCount++; // Increment the counter

            // Create a new accordion item
            var newGithubProjectItem = document.createElement('div');
            newGithubProjectItem.className = 'accordion-item';
            newGithubProjectItem.id = 'githubProjectItem' + githubProjectCount;

            // Create the accordion header
            var accordionHeader = document.createElement('h2');
            accordionHeader.className = 'accordion-header';
            accordionHeader.id = 'githubProjectHeading' + githubProjectCount;

            var accordionButton = document.createElement('button');
            accordionButton.className = 'accordion-button';
            accordionButton.type = 'button';
            accordionButton.setAttribute('data-bs-toggle', 'collapse');
            accordionButton.setAttribute('data-bs-target', '#githubProjectCollapse' + githubProjectCount);
            accordionButton.setAttribute('aria-expanded', 'true');
            accordionButton.setAttribute('aria-controls', 'githubProjectCollapse' + githubProjectCount);
            accordionButton.innerText = 'Project ' + githubProjectCount;

            // Create the accordion collapse content
            var accordionCollapse = document.createElement('div');
            accordionCollapse.id = 'githubProjectCollapse' + githubProjectCount;
            accordionCollapse.className = 'accordion-collapse collapse';
            accordionCollapse.setAttribute('aria-labelledby', 'githubProjectHeading' + githubProjectCount);
            accordionCollapse.setAttribute('data-bs-parent', '#accordionGithubProjects');

            var accordionBody = document.createElement('div');
            accordionBody.className = 'accordion-body';

            // Add input fields to the accordion body
            accordionBody.innerHTML = `
            <div class="mb-3">
                <label for="git-proj-${githubProjectCount}-name" class="form-label">Project Name*</label>
                <input type="text" class="form-control" id="git-proj-${githubProjectCount}-name" name="git-proj-${githubProjectCount}-name">
            </div>
            <div class="mb-3">
                <label for="git-proj-${githubProjectCount}-det-1" class="form-label">Details-1</label>
                <input type="text" class="form-control" id="git-proj-${githubProjectCount}-det-1" name="git-proj-${githubProjectCount}-det-1">
            </div>
            <div class="mb-3">
                <label for="git-proj-${githubProjectCount}-det-2" class="form-label">Details-2</label>
                <input type="text" class="form-control" id="git-proj-${githubProjectCount}-det-2" name="git-proj-${githubProjectCount}-det-2">
            </div>
        `;

            // Append elements to create the accordion item
            accordionHeader.appendChild(accordionButton);
            newGithubProjectItem.appendChild(accordionHeader);
            accordionCollapse.appendChild(accordionBody);
            newGithubProjectItem.appendChild(accordionCollapse);

            // Append the new accordion item to the Github Projects accordion
            var githubProjectsAccordion = document.getElementById('accordionGithubProjects');
            githubProjectsAccordion.appendChild(newGithubProjectItem);

        }

        function HandleSubmit() {
            var name = document.getElementById('fname').value + ' ' + document.getElementById('lname').value;
            var mobile = document.getElementById('contact-no').value;
            var email = document.getElementById('e-mail').value;
            var linked = document.getElementById('linkedin').value;
            var github = document.getElementById('github').value;
            var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            var careerSummary = {
                "data": document.getElementById('career-summary').value,
            };

            // Education details
            var education = {
                "Education-clg": document.getElementById('insname').value,
                "ed-date": document.getElementById('tperiod').value,
                "edu-details": document.getElementById('eddetails').value
            };

            // Achievements
            var achievements = [
                { "ach-details": document.getElementById('achieve1').value },
                { "ach-details": document.getElementById('achieve2').value },
                { "ach-details": document.getElementById('achieve3').value }
            ];

            // Experience
            var experiences = [];
            var expCount = experienceCount;
            for (var i = 1; i <= expCount; i++) {
                var expDetails3 = [];

                for (var j = 1; j <= 3; j++) {
                    var expDetail = document.getElementById('exp-' + i + '-det-' + j).value;
                    expDetails3.push({ "exp_details": expDetail });
                }

                var expDetails = {
                    "exp-company": document.getElementById('exp-' + i + '-cname').value,
                    "exp-date": document.getElementById('exp-' + i + '-time-period').value,
                    "exp-details1": document.getElementById('exp-' + i + '-det-1').value,
                    "exp-details2": document.getElementById('exp-' + i + '-det-2').value,
                    "exp-details3": expDetails3
                };

                experiences.push(expDetails);
            }

            // Internships
            var internships = [];
            var internCount = internshipCount;
            for (var i = 1; i <= internCount; i++) {
                var internDetails3 = [];

                for (var j = 1; j <= 3; j++) {
                    var internDetail = document.getElementById('intern-' + i + '-det-' + j).value;
                    internDetails3.push({ "intern_details": internDetail });
                }

                var internDetails = {
                    "intern-company": document.getElementById('intern-' + i + '-cname').value,
                    "intern-date": document.getElementById('intern-' + i + '-time-period').value,
                    "intern-details1": document.getElementById('intern-' + i + '-det-1').value,
                    "intern-details2": document.getElementById('intern-' + i + '-det-2').value,
                    "intern-details3": internDetails3
                };

                internships.push(internDetails);
            }

            // Hackathons
            var hackathons = [];
            for (var i = 1; i <= hackathonCount; i++) {
                var hackDetails = {
                    "hack-title": document.getElementById('hack-' + i + '-name').value,
                    "hack-date": document.getElementById('hack-' + i + '-time-period').value,
                    "hack-details": [{ "hack_details1": document.getElementById('hack-' + i + '-det-1').value },
                    { "hack_details1": document.getElementById('hack-' + i + '-det-2').value }]
                };
                hackathons.push(hackDetails);
            }

            // Github Projects
            var githubProjects = [];
            var gitProjCount = githubProjectCount;
            for (var i = 1; i <= gitProjCount; i++) {
                var gitProjDetails = {
                    "gitproj-title": document.getElementById('git-proj-' + i + '-name').value,
                    "gitproj-details": [{ "gitproj_details1": document.getElementById('git-proj-' + i + '-det-1').value },
                    { "gitproj_details1": document.getElementById('git-proj-' + i + '-det-2').value }]
                };
                githubProjects.push(gitProjDetails);
            }

            var resumeData = {
                "json": [{
                    "Name": name,
                    "mobile": mobile,
                    "email": email,
                    "linked": linked,
                    "github": github,
                    "CareerSum": careerSummary,
                    "education": education,
                    "achievement": achievements,
                    "experience": experiences,
                    "Internships": internships,
                    "Hackathon": hackathons,
                    "Gitproj": githubProjects
                }]
            };

            //console.log(JSON.stringify(resumeData, null, 2));

            // Use AJAX to post the JSON data to your Django view
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{% url 'resume' %}", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.setRequestHeader("X-CSRFToken", csrfToken);  // Include CSRF token
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log(xhr.responseText);
                    // Handle success if needed
                } else if (xhr.readyState == 4) {
                    console.error(xhr.statusText);
                    // Handle error if needed
                }
            };
            xhr.send(JSON.stringify(resumeData));

            // Prevent the default form submission
            return false;
        }
    </script>
</body>
</html>