{% if user.is_authenticated %}
    {% if user_has_registered %}
        <p>You have already registered for this training program.</p>
    {% else %}
        <form id="registerForm">
            {% csrf_token %}
            <input type="button" value="Register" onclick="registerTraining()">
        </form>
    {% endif %}
{% else %}
    <p>Please register to apply for this training program.</p>
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function registerTraining() {
    var form = $('#registerForm');
    form.html('<p>Registering...</p>');
    $.ajax({
        url: "{% url 'register_training' training_program.id %}",
        type: 'post',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        success: function(response) {
            if (response.status == 'success') {
                form.html('<p>Registered</p>');
                setTimeout(function() {
                    window.location.href = "/";
                }, 2000);  // Redirect after 2 seconds
            }
        }
    });
}
</script>